@import url("https://fonts.googleapis.com/css2?family=Alkalami&family=Black+Ops+One&display=swap");
* {
  box-sizing: border-box; /*so padding and border doesnt effect the width and height of the element*/
}

body {
  background: rgb(101, 227, 14);
  background: linear-gradient(
    40deg,
    rgba(101, 227, 14, 1) 35%,
    rgba(226, 226, 11, 1) 74%
  );

  margin: 0;
  height: 100vh;
  font-family: "Alkalami", serif;
}
h1 {
  font-size: 60px;
  font-family: "Black Ops One", cursive;
  text-align: center;
}
.poke-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.pokemon-card {
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(35, 56, 118, 0.7);
  margin: 10px;
  padding: 20px;
}
.pokemon-card .img-container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
}
.pokemon-card .img-container img {
  max-width: 90%; /*90 percent of its container so it sits now in its container*/
  margin-top: 20px;
}

.info {
  margin-top: 20px;
  text-align: center;
}
.info .number {
  background-color: rgba(243, 19, 232, 0.304);
  border-radius: 10px;
  padding: 0 10px;
  font-size: 0.8em;
  text-align: center;
}
.name {
  margin: 5px;
  font-weight: bold;
}
